<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/assets/apple-icon-152x152.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
